<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932055745867-m2ggtfnkoij2k7667bp813v4rd3ha432.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932055745867-m2ggtfnkoij2k7667bp813v4rd3ha432</string>
	<key>API_KEY</key>
	<string>AIzaSyBI7NJqrV_zIuRX781VGyyPcwePOWtkxuE</string>
	<key>GCM_SENDER_ID</key>
	<string>932055745867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTodos1</string>
	<key>PROJECT_ID</key>
	<string>fluttertodos-3493a</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertodos-3493a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932055745867:ios:369b175dd85e124889d4ce</string>
</dict>
</plist>